In [1]:
import findspark
findspark.init()
import pyspark
import os
import pandas as pd
import numpy as np 

sc = pyspark.SparkContext()
spark = pyspark.SQLContext(sc)

working_dir = os.getcwd()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/23 10:21:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/Users/andres/opt/anaconda3/envs/redes_neuronales_tus/lib/python3.10/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [2]:
# Load parquet file into dataframe
df = spark.read.parquet("file://" + working_dir + "/testDataset/part-00000-711fabb0-5efc-4d83-afad-0e03a3156794.snappy.parquet")

In [3]:
from sqlalchemy import create_engine, text

engine = create_engine('postgresql://postgres@193.144.208.246:5432/tus_replica')

with engine.begin() as conn:
    query = text('select * from viajes_noviembre_completa3')
    df = pd.read_sql_query(query,conn)
    df = spark.createDataFrame(df)

/Users/andres/opt/anaconda3/envs/redes_neuronales_tus/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Users/andres/opt/anaconda3/envs/redes_neuronales_tus/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

# Exploration and data cleansing

#### Show total count of lines

In [4]:
# Count lines
df.count()

23/02/23 10:21:46 WARN TaskSetManager: Stage 1 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

92810

#### Show the aspect of fiew records

In [5]:
# Show first 5 lines
df.show(5)

23/02/23 09:53:24 WARN TaskSetManager: Stage 4 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.
+------+--------+---------+-------------------+--------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+----------------+----------+---+------------------+-------------------+------------------+-------------------+
|    id|nodo_org|nodo_dest|   instante_tickado|     instante_bajada|sesion_org|sesion_vuelta|linea_org|linea_vuelta|coche_org|coche_vuelta|sublinea_org|sublinea_vuelta|ruta_org|ruta_vuelta|viaje_org|viaje_vuelta|tipo_usuario|         tarjeta| fecha_dia| rn|           lat_org|           long_org|          lat_dest|          long_dest|
+------+--------+---------+-------------------+--------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+----------------+----------+---+------------------+-------------------+------------------+-------------------+
| 10660|     486|        3|2022-11-08 11:15:27|2022-11-08 14:20:...|   2012988|      2013399|      241|           1|        4|           3|           2|              1|       1|          1|        4|           9|           3|0000000000000000|2022-11-08|  1| 43.45477127854842|-3.8701565348493907| 43.46085775768506|-3.8472051575131467|
|109003|      39|       96|2022-11-25 10:37:39| 2022-11-25 16:52:15|   2018555|      2018670|        4|           4|        8|           2|           2|              2|       1|          2|        8|          19|           2|      0103344413|2022-11-25|  1| 43.46392225799458| -3.800340012323393| 43.45402471893295|-3.8174840623688127|
|113779|      39|       96|2022-11-26 10:38:16| 2022-11-26 17:32:25|   2018879|      2018954|        4|           4|        8|          12|           2|              2|       1|          2|        8|           6|           2|      0103344413|2022-11-26|  1| 43.46392225799458| -3.800340012323393| 43.45402471893295|-3.8174840623688127|
| 74980|      12|      107|2022-11-18 16:59:31| 2022-11-18 18:22:39|   2016458|      2016476|        4|          14|        1|           1|           2|              1|       1|          1|        1|          15|           2|      0103346429|2022-11-18|  1|43.463589446102446|-3.8111519637681774|43.455007050770966|-3.8236503300593605|
| 81140|     497|      338|2022-11-21 09:21:54| 2022-11-21 16:54:23|   2017241|      2017268|      241|           1|        1|          16|           2|              1|       0|          1|        1|           4|           2|      0103348157|2022-11-21|  1| 43.44153734585533| -3.854082434804917| 43.45639660218205|   -3.8642618907935|
+------+--------+---------+-------------------+--------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+----------------+----------+---+------------------+-------------------+------------------+-------------------+
only showing top 5 rows

#### Remove rows with null or NaN values

In [5]:
# Remove rows with any null or NaN value
df.dropna
# Count lines
df.count()

23/02/23 10:21:49 WARN TaskSetManager: Stage 4 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

92810

In [6]:
# Update created temp view for raw data
df.createOrReplaceTempView("rawdata")

### Remove unnecessary event types
Since we are going to predict estimation based on the start position, we won't need the rest of events (location, etc). Also, we remove rows with gps non valid values (0.0).

In [7]:
# 1. Create a view with only the values we need for processing
df = spark.sql("SELECT * FROM rawdata ORDER BY instante_tickado")
df.createOrReplaceTempView("cleands")
df.count()

23/02/23 10:21:54 WARN TaskSetManager: Stage 7 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

92810

## Explore data transformation for a single device
The purpose is to reduce the problem so that we are sure that the transformations that we apply to the data produce the desired results. 
The aim of these transformations is to clean the dataset and take only the correctly paired start-trip / end-trip data.

In [8]:
# Show an example of data for a certain device
singleDevice = spark.sql("SELECT * FROM cleands WHERE tarjeta='ES182742'")
singleDevice.createOrReplaceTempView("singledevice")
singleDevice.show(100, False)

23/02/23 10:21:57 WARN TaskSetManager: Stage 10 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.
+------+--------+---------+-------------------+-----------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+--------+----------+---+------------------+-------------------+------------------+-------------------+
|id    |nodo_org|nodo_dest|instante_tickado   |instante_bajada        |sesion_org|sesion_vuelta|linea_org|linea_vuelta|coche_org|coche_vuelta|sublinea_org|sublinea_vuelta|ruta_org|ruta_vuelta|viaje_org|viaje_vuelta|tipo_usuario|tarjeta |fecha_dia |rn |lat_org           |long_org           |lat_dest          |long_dest          |
+------+--------+---------+-------------------+-----------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+--------+----------+---+------------------+-------------------+------------------+-------------------+
|19847 |304     |305      |2022-11-09 14:17:26|2022-11-09 15:49:53.3  |2013589   |2013589      |12       |12          |5        |1           |1           |1              |1       |1          |5        |6           |1           |ES182742|2022-11-09|1  |43.448691528254294|-3.8501351829493444|43.44706140384849 |-3.8522615091753427|
|19863 |305     |309      |2022-11-09 14:19:16|2022-11-09 19:56:31.467|2013589   |2013622      |12       |12          |6        |12          |1           |1              |1       |1          |6        |5           |1           |ES182742|2022-11-09|1  |43.44706140384849 |-3.8522615091753427|43.44166764301717 |-3.846379993960954 |
|79585 |301     |304      |2022-11-21 07:49:11|2022-11-21 11:22:20    |2017241   |2017235      |241      |12          |1        |2           |2           |1              |0       |1          |1        |3           |1           |ES182742|2022-11-21|1  |43.44158652699338 |-3.845988861392027 |43.448691528254294|-3.8501351829493444|
|92451 |301     |305      |2022-11-23 07:46:46|2022-11-23 14:17:12.367|2017890   |2017967      |241      |12          |1        |1           |2           |1              |0       |1          |1        |6           |1           |ES182742|2022-11-23|1  |43.44158652699338 |-3.845988861392027 |43.44706140384849 |-3.8522615091753427|
|103981|306     |311      |2022-11-24 13:31:09|2022-11-24 19:01:35.64 |2018248   |2018327      |242      |12          |6        |1           |2           |1              |1       |1          |6        |9           |1           |ES182742|2022-11-24|1  |43.448669333510615|-3.8497534761029097|43.44110696485298 |-3.8409461791965582|
+------+--------+---------+-------------------+-----------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+--------+----------+---+------------------+-------------------+------------------+-------------------+

### 1. Extract previous and next event for every row
To do this, we use LAG and LEAD window functions to shift the data. The result will add two new columns *previousEvent* and *nextEvent* to the dataset

### 2. Remove trip-start and trip-end non valid rows
The only valid data is that which defines a valid trip, that is, a trip-start followed by a trip-end event. Those trip-start with no trip-end after it, or those trip-end without a preceding trip-start are removed from the dataset.

### 3. Put all the data of every complete trip in the same row
We move the position and time data of every complete trip in a single row. This way we will be able to process each row as a trip, and we'll no longer need deviceId or eventType

## Apply the transformations to the whole dataset

### 1. Extract previous and next event for every row
To do this, we use LAG and LEAD window functions to shift the data. The result will add two new columns *previousEvent* and *nextEvent* to the dataset

### 2. Remove trip-start and trip-end non valid rows
The only valid data is that which defines a valid trip, that is, a trip-start followed by a trip-end event. Those trip-start with no trip-end after it, or those trip-end without a preceeding trip-start are removed from the dataset.

In [9]:
allDevices=df
allDevices.count()

23/02/23 10:22:00 WARN TaskSetManager: Stage 11 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

92810

### 3. Put all the data of every complete trip in the same row
We move the position and time data of every complete trip in a single row. This way we will be able to process each row as a trip, and we'll no longer need deviceId or eventType

In [11]:
allDevices.count()

23/02/23 09:53:26 WARN TaskSetManager: Stage 15 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

92810

### Remove duplicates
After examining the resulting data, we observe that there many registers with exactly the same data for the time start and de starting and end position, so we remove the redundant data to avoid bias on the predicting model

In [10]:
allDevices = allDevices.dropDuplicates(['instante_tickado', 'lat_org', 'long_org', 'lat_dest', 'long_dest'])
allDevices.createOrReplaceTempView("alldevices")
allDevices.show(20, False)

23/02/23 10:22:04 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
23/02/23 10:22:04 WARN TaskSetManager: Stage 14 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.
23/02/23 10:22:05 WARN TaskSetManager: Stage 15 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

+---+--------+---------+-------------------+-----------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+----------+----------+---+------------------+-------------------+------------------+-------------------+
|id |nodo_org|nodo_dest|instante_tickado   |instante_bajada        |sesion_org|sesion_vuelta|linea_org|linea_vuelta|coche_org|coche_vuelta|sublinea_org|sublinea_vuelta|ruta_org|ruta_vuelta|viaje_org|viaje_vuelta|tipo_usuario|tarjeta   |fecha_dia |rn |lat_org           |long_org           |lat_dest          |long_dest          |
+---+--------+---------+-------------------+-----------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+----------+----------+---+------------------+-------------------+------------------+-------------------+
|1  |509     |76       |2022-11-07 05:18:11|2022-11-07 14:31:55.177|2012446   |2012715      |41       |61          |2        |2           |1           |1              |1       |1          |2        |9           |2           |3229401860|2022-11-07|1  |43.45857735990531 |-3.830086800994463 |43.46607675451544 |-3.7955349611972777|
|2  |509     |41       |2022-11-07 05:18:16|2022-11-07 11:59:27    |2012446   |2012662      |41       |1           |2        |3           |1           |1              |1       |2          |2        |6           |2           |BO609492  |2022-11-07|1  |43.45857735990531 |-3.830086800994463 |43.46353676983129 |-3.8088896413509863|
|3  |36      |403      |2022-11-07 05:46:41|2022-11-07 16:15:50.983|2012446   |2013348      |41       |17          |3        |1           |1           |1              |2       |2          |3        |20          |16          |DP001444  |2022-11-07|1  |43.46543910424869 |-3.7869680290511183|43.467026928269824|-3.8664002658256176|
|4  |42      |11       |2022-11-07 05:54:07|2022-11-07 18:20:15    |2012446   |2012721      |41       |1           |3        |13          |1           |1              |2       |1          |3        |5           |2           |BO006130  |2022-11-07|1  |43.46370136390738 |-3.8115334674897494|43.46211546513306 |-3.818665943314696 |
|5  |512     |137      |2022-11-07 05:59:42|2022-11-07 08:32:00.243|2012446   |2012666      |41       |52          |3        |4           |1           |1              |2       |1          |3        |3           |2           |BO559256  |2022-11-07|1  |43.45869472964512 |-3.830366033792434 |43.47044395259519 |-3.7964502593911416|
|6  |40      |2        |2022-11-07 06:22:28|2022-11-07 15:03:01    |2012446   |2012671      |3        |2           |2        |16          |1           |1              |2       |1          |2        |2           |17          |DA006527  |2022-11-07|1  |43.46344670120717 |-3.8057304621655947|43.46008831277867 |-3.851185485607664 |
|7  |40      |7        |2022-11-07 06:22:31|2022-11-07 15:07:21    |2012446   |2012671      |3        |2           |2        |16          |1           |1              |2       |1          |2        |2           |16          |DP001945  |2022-11-07|1  |43.46344670120717 |-3.8057304621655947|43.45981487129265 |-3.8398829112813253|
|8  |43      |109      |2022-11-07 06:26:14|2022-11-07 09:07:52.857|2012446   |2012661      |3        |12          |2        |3           |1           |1              |2       |1          |2        |3           |8           |FN212138  |2022-11-07|1  |43.462281760261966|-3.8185799248957575|43.457907818751885|-3.825756430511016 |
|9  |3       |40       |2022-11-07 06:41:26|2022-11-07 14:52:08.387|2013476   |2013387      |2        |1           |2        |7           |1           |1              |1       |2          |2        |8           |2           |BO046235  |2022-11-07|1  |43.46085775768506 |-3.8472051575131467|43.46344670120717 |-3.8057304621655947|
|10 |6       |40       |2022-11-07 06:43:35|2022-11-07 10:23:00.563|2013476   |2012656      |2        |2           |2        |6           |1           |1              |1       |2          |2        |5           |16          |DP001372  |2022-11-07|1  |43.461567752353034|-3.8395992514249113|43.46344670120717 |-3.8057304621655947|
|11 |7       |42       |2022-11-07 06:44:42|2022-11-07 14:22:33    |2013476   |2012650      |2        |1           |2        |5           |1           |1              |1       |2          |2        |8           |2           |BO955502  |2022-11-07|1  |43.45981487129265 |-3.8398829112813253|43.46370136390738 |-3.8115334674897494|
|13 |512     |1        |2022-11-07 06:53:21|2022-11-07 13:26:56    |2012446   |2012655      |3        |1           |2        |6           |1           |1              |2       |1          |2        |7           |2           |BO000130  |2022-11-07|1  |43.45869472964512 |-3.830366033792434 |43.459509559993755|-3.8542704887986843|
|14 |1       |44       |2022-11-07 06:55:30|2022-11-07 14:40:45.743|2012627   |2012715      |2        |61          |2        |2           |1           |1              |1       |1          |2        |9           |2           |BO873652  |2022-11-07|1  |43.459509559993755|-3.8542704887986843|43.461102666156826|-3.8229800197829817|
|16 |352     |41       |2022-11-07 06:56:30|2022-11-07 19:19:06.273|2012446   |2012679      |3        |1           |5        |200         |2           |1              |0       |2          |5        |14          |2           |BO046134  |2022-11-07|1  |43.44629801947906 |-3.873995316455585 |43.46353676983129 |-3.8088896413509863|
|18 |328     |510      |2022-11-07 06:57:15|2022-11-07 14:38:11    |2012605   |2012662      |1        |1           |2        |3           |1           |1              |2       |1          |2        |9           |2           |BO565073  |2022-11-07|1  |43.485561111851865|-3.791608045049347 |43.46351325831113 |-3.8094636636639514|
|19 |3       |43       |2022-11-07 06:57:43|2022-11-07 10:02:39    |2012627   |2012662      |2        |1           |2        |3           |1           |1              |1       |2          |2        |4           |2           |BO532894  |2022-11-07|1  |43.46085775768506 |-3.8472051575131467|43.462281760261966|-3.8185799248957575|
|21 |201     |39       |2022-11-07 06:58:16|2022-11-07 11:14:32.337|2012596   |2013396      |2        |2           |2        |2           |1           |1              |2       |2          |2        |7           |3           |PS322795  |2022-11-07|1  |43.48102873772869 |-3.7959242779670666|43.46392225799458 |-3.800340012323393 |
|23 |167     |11       |2022-11-07 06:59:16|2022-11-07 14:14:58    |2012596   |2012694      |2        |1           |2        |2           |1           |1              |2       |1          |2        |9           |2           |BO004096  |2022-11-07|1  |43.48256810543024 |-3.7944877930012995|43.46211546513306 |-3.818665943314696 |
|24 |168     |7        |2022-11-07 07:00:17|2022-11-07 14:42:31    |2012596   |2012746      |2        |13          |2        |2           |1           |1              |2       |1          |2        |10          |2           |BO726316  |2022-11-07|1  |43.482752939195585|-3.7914531582373208|43.45981487129265 |-3.8398829112813253|
|26 |60      |523      |2022-11-07 07:00:47|2022-11-07 12:58:25.43 |2012446   |2012753      |3        |51          |5        |2           |2           |1              |0       |1          |5        |8           |2           |BO610524  |2022-11-07|1  |43.45067017958261 |-3.852161894324356 |43.47059352896631 |-3.786549149942797 |
+---+--------+---------+-------------------+-----------------------+----------+-------------+---------+------------+---------+------------+------------+---------------+--------+-----------+---------+------------+------------+----------+----------+---+------------------+-------------------+------------------+-------------------+
only showing top 20 rows

In [13]:
allDevices.count()

23/02/23 09:53:29 WARN TaskSetManager: Stage 22 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

92727

# Data visualization

In [11]:
import pandas as pd
dfProcessed = allDevices.toPandas()

23/02/23 10:22:11 WARN TaskSetManager: Stage 18 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.
23/02/23 10:22:11 WARN TaskSetManager: Stage 19 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

/Users/andres/opt/anaconda3/envs/redes_neuronales_tus/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/Users/andres/opt/anaconda3/envs/redes_neuronales_tus/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

### Data check after transformations
We make an overview of the description of the data before and after the processing to check that it makes sense.

First we describe the data after processing. We observe allmost all the position data for start and end is identical, so just looking at the data we could tell that our car is always doing the same trip.

In [15]:
dfProcessed.describe()

,id,nodo_org,nodo_dest,sesion_org,sesion_vuelta,linea_org,linea_vuelta,coche_org,coche_vuelta,sublinea_org,...,ruta_org,ruta_vuelta,viaje_org,viaje_vuelta,tipo_usuario,rn,lat_org,long_org,lat_dest,long_dest
count,92727.000000,92727.000000,92727.000000,9.272700e+04,9.272700e+04,92727.000000,92727.000000,92727.000000,92727.000000,92727.000000,...,92727.000000,92727.000000,92727.000000,92727.000000,92727.000000,92727.0,92727.000000,92727.000000,92727.000000,92727.000000
mean,59033.798257,137.758916,139.112783,2.015888e+06,2.015945e+06,35.860774,28.447432,6.320748,7.756910,1.238237,...,1.264087,1.290617,6.320748,9.553129,4.495918,1.0,43.463615,-3.817653,43.464125,-3.816528
std,34171.345490,157.882970,157.386854,1.957209e+03,1.970409e+03,51.379431,35.782883,4.117974,22.250509,0.575643,...,0.454175,0.457904,4.117974,4.750256,5.627089,0.0,0.007352,0.021091,0.007569,0.022476
min,1.000000,1.000000,1.000000,2.012446e+06,2.012578e+06,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,43.440526,-3.884499,43.440526,-3.884499
25%,29394.000000,31.000000,35.000000,2.014188e+06,2.014227e+06,2.000000,2.000000,3.000000,2.000000,1.000000,...,1.000000,1.000000,3.000000,6.000000,2.000000,1.0,43.460624,-3.830087,43.460858,-3.829128
50%,59220.000000,47.000000,48.000000,2.015798e+06,2.015832e+06,13.000000,12.000000,5.000000,3.000000,1.000000,...,1.000000,1.000000,5.000000,9.000000,2.000000,1.0,43.463353,-3.816247,43.463537,-3.811533
75%,88682.500000,191.000000,191.000000,2.017621e+06,2.017659e+06,52.000000,52.000000,8.000000,5.000000,1.000000,...,2.000000,2.000000,8.000000,12.000000,3.000000,1.0,43.465720,-3.802249,43.466582,-3.800340
max,118160.000000,524.000000,523.000000,2.021713e+06,2.021713e+06,242.000000,242.000000,117.000000,227.000000,4.000000,...,2.000000,2.000000,117.000000,33.000000,50.000000,1.0,43.486944,-3.775162,43.486944,-3.775162

Then we also describe the data before doing any processing. Starting and end positions are mixed, so we can make much conclusions, but we can observe that the range of the data make sense.

In [16]:
dfRaw = df.toPandas()
dfRaw.describe()

23/02/23 09:53:39 WARN TaskSetManager: Stage 32 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

23/02/23 09:53:40 WARN TaskSetManager: Stage 33 contains a task of very large size (1262 KiB). The maximum recommended task size is 1000 KiB.

/Users/andres/opt/anaconda3/envs/redes_neuronales_tus/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/Users/andres/opt/anaconda3/envs/redes_neuronales_tus/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,id,nodo_org,nodo_dest,sesion_org,sesion_vuelta,linea_org,linea_vuelta,coche_org,coche_vuelta,sublinea_org,...,ruta_org,ruta_vuelta,viaje_org,viaje_vuelta,tipo_usuario,rn,lat_org,long_org,lat_dest,long_dest
count,92810.000000,92810.000000,92810.000000,9.281000e+04,9.281000e+04,92810.000000,92810.000000,92810.000000,92810.000000,92810.000000,...,92810.000000,92810.000000,92810.000000,92810.000000,92810.000000,92810.0,92810.000000,92810.000000,92810.000000,92810.000000
mean,59038.840459,137.749725,139.106508,2.015888e+06,2.015946e+06,35.868549,28.448077,6.321528,7.757418,1.238304,...,1.264120,1.290637,6.321528,9.553087,4.495852,1.0,43.463614,-3.817656,43.464125,-3.816527
std,34169.486749,157.881075,157.384874,1.957206e+03,1.970480e+03,51.382967,35.785960,4.118430,22.247981,0.575669,...,0.454204,0.457910,4.118430,4.750261,5.626894,0.0,0.007352,0.021090,0.007569,0.022476
min,1.000000,1.000000,1.000000,2.012446e+06,2.012578e+06,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,43.440526,-3.884499,43.440526,-3.884499
25%,29401.500000,31.000000,35.000000,2.014188e+06,2.014227e+06,2.000000,2.000000,3.000000,2.000000,1.000000,...,1.000000,1.000000,3.000000,6.000000,2.000000,1.0,43.460624,-3.830087,43.460858,-3.829128
50%,59233.500000,47.000000,48.000000,2.015799e+06,2.015833e+06,13.000000,12.000000,5.000000,3.000000,1.000000,...,1.000000,1.000000,5.000000,9.000000,2.000000,1.0,43.463353,-3.816247,43.463537,-3.811533
75%,88683.750000,191.000000,191.000000,2.017621e+06,2.017659e+06,52.000000,52.000000,8.000000,5.000000,1.000000,...,2.000000,2.000000,8.000000,12.000000,3.000000,1.0,43.465720,-3.802249,43.466582,-3.800340
max,118160.000000,524.000000,523.000000,2.021713e+06,2.021713e+06,242.000000,242.000000,117.000000,227.000000,4.000000,...,2.000000,2.000000,117.000000,33.000000,50.000000,1.0,43.486944,-3.775162,43.486944,-3.775162

In [12]:
dfProcessed = dfProcessed.sort_values("instante_tickado")
dfProcessed

,id,nodo_org,nodo_dest,instante_tickado,instante_bajada,sesion_org,sesion_vuelta,linea_org,linea_vuelta,coche_org,...,viaje_org,viaje_vuelta,tipo_usuario,tarjeta,fecha_dia,rn,lat_org,long_org,lat_dest,long_dest
0,1,509,76,2022-11-07 05:18:11,2022-11-07 14:31:55.177,2012446,2012715,41,61,2,...,2,9,2,3229401860,2022-11-07,1,43.458577,-3.830087,43.466077,-3.795535
1,2,509,41,2022-11-07 05:18:16,2022-11-07 11:59:27.000,2012446,2012662,41,1,2,...,2,6,2,BO609492,2022-11-07,1,43.458577,-3.830087,43.463537,-3.808890
2,3,36,403,2022-11-07 05:46:41,2022-11-07 16:15:50.983,2012446,2013348,41,17,3,...,3,20,16,DP001444,2022-11-07,1,43.465439,-3.786968,43.467027,-3.866400
3,4,42,11,2022-11-07 05:54:07,2022-11-07 18:20:15.000,2012446,2012721,41,1,3,...,3,5,2,BO006130,2022-11-07,1,43.463701,-3.811533,43.462115,-3.818666
4,5,512,137,2022-11-07 05:59:42,2022-11-07 08:32:00.243,2012446,2012666,41,52,3,...,3,3,2,BO559256,2022-11-07,1,43.458695,-3.830366,43.470444,-3.796450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92722,118150,32,146,2022-11-27 19:56:08,2022-11-27 21:08:00.367,2019193,2019184,71,62,15,...,15,14,2,BO019619,2022-11-27,1,43.472854,-3.777374,43.463285,-3.805955
92723,118152,15,167,2022-11-27 20:10:15,2022-11-27 23:04:11.000,2019184,2019212,62,1,13,...,13,8,2,BO032632,2022-11-27,1,43.463587,-3.802249,43.482568,-3.794488
92724,118153,7,38,2022-11-27 20:10:41,2022-11-27 22:10:11.000,2019213,2019173,2,2,4,...,4,10,2,BO045186,2022-11-27,1,43.459815,-3.839883,43.465030,-3.794963
92725,118157,517,167,2022-11-27 20:22:12,2022-11-27 23:04:11.000,2019207,2019212,1,1,15,...,15,8,2,BO032632,2022-11-27,1,43.479423,-3.789382,43.482568,-3.794488
92726,118160,24,511,2022-11-27 20:47:28,2022-11-27 22:18:39.000,2019160,2019191,4,1,12,...,12,1,16,DP001515,2022-11-27,1,43.476152,-3.783827,43.479362,-3.789569

## Map visualization
When handling geospatial data, is a good practise to visualize it in a map to find insights or avoid erroneous assumptions on the data

In [18]:
# A google maps Javascript API KEY is needed to see the maps in the notebook
#import gmaps
#gmaps.configure(api_key="AIzaSyBUBhoI2idOSMAjHNW7TFmv0GZfy1H3TbU")

In [13]:
from ipyleaflet import Map, Heatmap, basemaps, Marker, MarkerCluster

In [14]:
startLocs = dfProcessed[['lat_org','long_org']]
endLocs = dfProcessed[['lat_dest', 'long_dest']]
center_coords = (32.920782, -96.950904)

### Starting positions visualization
A heatmap is displayed to observe the density of the trip-start positions in a map. We can see that there are three main areas around Dallas area were the cars start their trips.

In [15]:
map_center = (43.46472, -3.80444)
fig = Map(center=map_center, zoom=13,  basemap = basemaps.CartoDB.Positron)
heatmap = Heatmap(locations=startLocs.values.tolist(), radius=10)
fig.add_layer(heatmap)
fig

Map(center=[43.46472, -3.80444], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', '…

### Ending positions visualization
As with starting positions, a heatmap is displayed to observe the density of the trip-end positions in a map. Again, there three main areas were the cars end their trips, showing that they likely do a go and return trip on the same areas.

In [ ]:
map_center = (43.46472, -3.80444)
fig = Map(center=map_center, zoom=13,  basemap = basemaps.CartoDB.Positron)
heatmap = Heatmap(locations=endLocs.values.tolist(), radius=10)
fig.add_layer(heatmap)
fig

Below, the positions markers combined are shown. trip-start are shown in green and trip-end in red

After cleansing and processing we save the processed dataset to a csv file for its later use to build the prediction model.

In [ ]:
dfProcessed.to_csv('processed-dataset.csv')